# Nextflow cache
work/
.nextflow*

# Raw data
EPIC/
GSA/
*.csv

# Processed data
results/

# Jupyter files
.ipynb_checkpoints/
notebooks/

# Cache
*.save

# Resources
resources/

# Log
*.log

# Files
*.parquet
