params.bmp_manifest = 'resources/GSA-24v3-0_A1.bpm'
params.csv_manifest = 'resources/GSA-24v3-0_A1.csv'
params.cluster_file = 'resources/GSA-24v3-0_A1_ClusterFile.egt'
params.reference_fa = 'resources/GRCh37_genome.fa'
params.CPUs = '20'

params.gsa_idats_dir = 'GSA/'
params.results_dir = 'results/'
params.sample_sheet = 'sample_sheet.csv'
params.array_position = 'ArrayPicker'
params.sample_name = 'Sample_Name'

process.container = 'flow_one'
docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = true
