// Verion
env.version = '1.0v'

// Global params
params.CPUs = 10
params.correction = false
params.deconvolution_method = 'RPC' // EpiDISH parameter
params.collapse_prefix = true // Sesame parameter
params.vep_annotations = false

// PLINK params
params.MAF = 0.01
params.HWE = '1e-50'
params.GENO = 0.1

// Docker config
docker.enabled = true
process.container = 'mqtl-image'

// Reports
report.overwrite = true
dag.overwrite = true